<!DOCTYPE html>
<html>
    <head>
        <title>
            Agenda de Contatos
        </title>
        <script src="../DAO/contatoDAO.js" type="text/javascript">
        </script>
        <script src="../controller/contatoCtrl.js" type="text/javascript">
        </script>
        <script src="../model/contato.js" type="text/javascript">
        </script>
    </head>
    <body>
        <script type="text/javascript">
            var contatoCtrl = new contatoCtrl();
            var contato1 = new contato();
            contato1.setNome("Felipe1");
            contato1.setTelefone("99775946");
            contato1.setEndereco("Rua Souza Naves");
            contatoCtrl.salvarContato(contato1);

            var contato2 = new contato();
            contato2.setNome("Felipe2");
            contato2.setTelefone("99775946");
            contato2.setEndereco("Rua Souza Naves");
            contatoCtrl.salvarContato(contato2);
			
			var contato3 = new contato();
            contato3.setNome("Felipe3");
            contato3.setTelefone("99775946");
            contato3.setEndereco("Rua Souza Naves");
            contatoCtrl.salvarContato(contato3);

            var contato4 = new contato();
            contato4.setNome("Felipe4");
            contato4.setTelefone("99775946");
            contato4.setEndereco("Rua Souza Naves");
            contatoCtrl.salvarContato(contato4);
            console.log("contatos:");
            contatoCtrl.imprimirContatos();
        </script>
    </body>
</html>
